/Target/*

!/Target/debug
/Target/debug/*

!/Target/debug/*.deb
!/Target/debug/*.exe
!/Target/debug/PSummary
!/Target/debug/Summary

!/Target/release
/Target/release/*

!/Target/release/*.deb
!/Target/release/*.exe
!/Target/release/PSummary
!/Target/release/Summary
